* {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

#title {
    text-align: center;
}

#startgamebutton {
    align-items: center;
    text-align: center;
    align-self: center;
}